// Site-wide Variables


// Base colors
// -------------------------

$black:                   #000 !default;
$white:                   #fff !default;
$dark-text:               hsl(229, 25%, 31%) !default;
$dark-text--alt:          #58546B !default;
$score-text:              hsl(229, 64%, 46%) !default;
$header-outline:          hsl(217, 16%, 45%) !default;
$button-outline:          #8690a9 !default;

// Grays
// -------------------------

$gray-darker:             lighten($black, 13.5%) !default; // #222
$gray-dark:               lighten($black, 20%) !default;   // #333
$gray:                    lighten($black, 33.5%) !default; // #555
$gray-light:              lighten($black, 60%) !default;   // #999
$gray-lighter:            lighten($black, 93.5%) !default; // #eee


// Brand colors
// -------------------------

$brand--primary:          #0275d8 !default;
$brand--success:          #5cb85c !default;
$brand--warning:          #f0ad4e !default;
$brand--danger:           #d9534f !default;
$brand--info:             #5bc0de !default;
$brand--gray:             $gray !default;


// Links
// -------------------------

$link-color:              $brand--primary !default;
$link-color--hover:       darken($link-color, 15%) !default;


// Typography
// -------------------------

$font-color:              #fff !default;

$font-family--native:     -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$font-family--sans-serif: 'Barlow Semi Condensed', $font-family--native !default;
$font-family--serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family--monospace:  Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-family:             $font-family--sans-serif !default;
$font-family--headings:   $font-family--serif !default;

$line-height:             1.6 !default;
$line-height--headings:   1.3 !default;

$font-size:               16px !default;
$font-size--large:        ceil($font-size * 1.5) !default; // ~24px
$font-size--small:        ceil($font-size * 0.85) !default; // ~14px

$font-weight:             600 !default;
$font-weight--light:      lighter !default;
$font-weight--bold:       700 !default;


$letter-spacing:          normal !default;
$letter-spacing--large:   0.15rem !default;


// Default Spacing Units
// -------------------------

$spacer:                  1rem !default;
$spacer--tiny:            $spacer / 4 !default;
$spacer--small:           $spacer / 2 !default;
$spacer--large:           $spacer * 2 !default;
$spacer--huge:            $spacer * 4 !default;

$fixed-spacer:            $font-size !default; // This is 1em at default.
$fixed-spacer--tiny:      $fixed-spacer / 4 !default;
$fixed-spacer--small:     $fixed-spacer / 2 !default;
$fixed-spacer--large:     $fixed-spacer * 2 !default;
$fixed-spacer--huge:      $fixed-spacer * 4 !default;


// Radius
// -------------------------

$border-radius:           .25rem !default;
$border-radius--large:    .6rem !default;
$border-radius--small:    3px !default;


// Forms
// -------------------------

$input-bg:                $white !default;
$input-bg--disabled:      $gray-lighter !default;

$input-color:             $gray !default;
$input-border--color:     #ccc !default;
$input-border--radius:    $border-radius !default;
$input-border--focus:     #66afe9 !default;

$input-height:            $spacer--large !default;

$legend-color:            $gray-dark !default;
$legend-border--color:    #e5e5e5 !default;


// Miscellaneous
// -------------------------

// Hr border color
$hr-border:               $brand--primary !default;

// Default transition time
$transition-time:         0.3s !default;


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindex-component-bg:     800 !default;
$zindex-component-mg:     810 !default;
$zindex-component-fg:     820 !default;
$zindex-navbar:           830 !default;
$zindex-dropdown:         840 !default;
$zindex-popover:          850 !default;
$zindex-tooltip:          860 !default;
$zindex-navbar-fixed:     870 !default;
$zindex-modal-bg:         1000 !default;
$zindex-modal:            1050 !default;


// Object Overrides
// -------------------------
// Override objects here or enable modifiers like $o-media-enable--flush
$o-media-gutter:          $spacer !default;
$o-box-spacer:            $spacer !default;

$o-media-enable--rev:     false !default;
$o-media-enable--flush:   false !default;
$o-media-enable--tiny:    false !default;
$o-media-enable--small:   false !default;
$o-media-enable--large:   false !default;
$o-media-enable--huge:    false !default;

$o-box-enable--flush:     false !default;
$o-box-enable--tiny:      false !default;
$o-box-enable--small:     false !default;
$o-box-enable--large:     false !default;
$o-box-enable--huge:      false !default;


// Container sizes
// -------------------------

// Small screen / tablet
$container-width:         95% !default;

// Medium screen / desktop
$container-width--md:     90% !default;

// Large screen / wide desktop
$container-width--lg:     85% !default;

// X Large screen / huge desktop
$container-width--xlg:    75% !default;

// Container margin space
$container-space:         (100% - $container-width) / 2 !default;
$container-space--md:     (100% - $container-width--md) / 2 !default;
$container-space--lg:     (100% - $container-width--lg) / 2 !default;
$container-space--xlg:    (100% - $container-width--xlg) / 2 !default;


// Breakpoint Media Queries
// -------------------------

$media-small:             480px !default;
$media-narrow:            768px !default;
$media-medium:            992px !default;
$media-wide:              1200px !default;
$media-huge:              1600px !default;

$media-small-max:         $media-small - 1px !default;
$media-narrow-max:        $media-narrow - 1px !default;
$media-medium-max:        $media-medium - 1px !default;
$media-wide-max:          $media-wide - 1px !default;
$media-huge-max:          $media-huge - 1px !default;

// Create breakpoints
// These are what should be used in media queries or @include breakpoint() mixins
$bp-small:                $media-small $media-narrow-max !default;
$bp-narrow:               $media-narrow $media-medium-max !default;
$bp-medium:               $media-medium $media-wide-max !default;
$bp-wide:                 $media-wide $media-huge-max !default;
$bp-huge:                 $media-huge !default;

$bp-small--up:            $media-small !default;
$bp-narrow--up:           $media-narrow !default;
$bp-medium--up:           $media-medium !default; // This is use for ie8 and down
$bp-wide--up:             $media-wide !default;

$bp-small--down:          max-width $media-small-max !default;
$bp-narrow--down:         max-width $media-narrow-max !default;
$bp-medium--down:         max-width $media-medium-max !default;
$bp-wide--down:           max-width $media-wide-max !default;
$bp-huge--down:           max-width $media-huge-max !default;

$bp-narrow--landscape:    ($bp-narrow--down) (orientation landscape) !default;
