.btn {
  display: inline-block;
  background: none;
  border: 2px solid $button-outline;
  border-radius: $border-radius--large;
  color: $white;
  text-transform: uppercase;
  padding: .75rem 3rem;
  letter-spacing: $letter-spacing--large;

  &:hover {
    background-color: $white;
    color: $dark-text;
  }
}
