$medallion-pulse-color: #3b4e75;

@mixin medallion-shadow($color) {
  box-shadow:
    inset 0 -.3em 0 0 $color,
    0 .3em 0 0 $color,
    0 .3em .4em rgba($black, .5);
}

// .medallion--disable-interactions - remove interactive states.
// .medallion--placeholder - a shadow where the real medallion will be placed.
// .medallion--winner - adds a pulse to the winning medallion.
.medallion {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  font-size: .6rem; // This controls the size of the medallion shadows.
  border: none;
  border-radius: 50%;
  transition: transform .125s ease-in-out, box-shadow .125s ease-in-out;

  &:not(.medallion--disable-interactions):active {
    transform: translateY(.6em);
    box-shadow:
      inset 0 .3em 2px 0 rgba($black, .25),
      0 .1em .2em rgba($black, .35);
  }

  &--rock {
    @include medallion-shadow(#9E1735);
    background: linear-gradient(0deg, hsl(349, 71%, 52%) 0%, hsl(349, 70%, 56%) 100%);
  }

  &--paper {
    @include medallion-shadow(#2846C0);
    background: linear-gradient(0deg, hsl(230, 89%, 62%) 0%, hsl(230, 89%, 65%) 100%);
  }

  &--scissors {
    @include medallion-shadow(#C46D21);
    background: linear-gradient(0deg, hsl(39, 89%, 49%) 0%, hsl(40, 84%, 53%) 100%);
  }

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 76%;
    height: 76%;
    margin: 12%;
    background-color: #E8E8EA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 .5em 2px 0 #BCBED5;
    transition: background-color .25s;

    .medallion:not(.medallion--disable-interactions):hover & {
      background-color: $white;
    }

    .medallion--placeholder & {
      background-color: #1A2946;
      box-shadow: none;
    }
  }

  &__icon {
    width: 45%;
    transition: transform .25s ease-in-out;

    .medallion:not(.medallion--disable-interactions):hover & {
      transform: rotate(25deg);
    }

    .medallion--placeholder & {
      display: none;
    }
  }

  &--winner {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      border-radius: 50%;
      animation: medallion-pulse 2s 3;
    }
  }
}

@keyframes medallion-pulse {
  0% {
    box-shadow:
      0 0 0 0 rgba($medallion-pulse-color, 1),
      0 0 0 0 rgba($medallion-pulse-color, .7),
      0 0 0 0 rgba($medallion-pulse-color, .5);
  }

  70% {
    box-shadow:
      0 0 0 2em rgba($medallion-pulse-color, 0),
      0 0 0 5em rgba($medallion-pulse-color, 0),
      0 0 0 8em rgba($medallion-pulse-color, 0);
  }

  100% {
    box-shadow:
      0 0 0 0 rgba($medallion-pulse-color, 0),
      0 0 0 0 rgba($medallion-pulse-color, 0),
      0 0 0 0 rgba($medallion-pulse-color, 0);
  }
}
