// Text-Related Elements

p {
  margin-top: 0;
  margin-bottom: $spacer;
}

strong {
  font-weight: $font-weight--bold;
}

// Horizontal Rule
hr {
  display: block;
  border: 0;
  height: 1px;
  border-top: 1px solid $hr-border;
  margin: $spacer--large 0;
  padding: 0;
}
