// Forms
label {
  display: block;
  padding-bottom: $spacer--tiny;
  font-weight: $font-weight--bold;
}

button,
input,
optgroup,
select,
textarea {
  font-family: $font-family;
}

input,
select,
textarea {
  border: 1px solid $input-border--color;
  border-radius: 0;
  padding: $spacer--tiny ($spacer--small + $spacer--tiny);
  background-color: $input-bg;
  background-image: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: $input-color;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

input,
select {
  height: $input-height;
}

// Remove browser default styling.
[type="text"],
[type="search"],
[type="url"],
[type="number"],
textarea {
  appearance: none;
}

// Inform browsers to make buttons look like buttons.
button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
}

// Ensure buttons that are not disabled have a mouse pointer.
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

// Override content-box in Normalize (* isn't specific enough)
input[type="search"] {
  box-sizing: border-box;
}

textarea {
  overflow: auto;
  resize: vertical;
}

// Force html5 "hidden" attibute to always be hidden
[hidden] {
  display: none !important;
}
